* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    background-image: url(bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playerContainer {
    background-color: #212936;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
}
.songImage {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 250px;
    object-fit: cover;
}
.songTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: white;
}
.songAuthor {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    color: #4D5562;
    margin-top: 5px;
}
input[type='range'] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-radius: 20px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
    color: #e70505;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: #C93B76;
    box-shadow: -300px 0 0 300px #C93B76;
}

.time {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
    text-align: center;
    color: #4D5562;
    margin-bottom: -5px;
    margin-top: 20px;
}
.controls {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.start {
    background-color: #C93B76;
    margin: 0px 20px;
    border-radius: 50%;
    padding: 5px;
}
.controls svg:hover {
    cursor: pointer;
}